---
import "../styles/global.css";
import SocialTags from "./SocialTags.astro";
import { getCanonicalUrl } from "../utils/seo-helpers";

interface Props {
  title: string;
  description: string;
  keywords: string;
  image?: string;
  noindex?: boolean;
}

const canonicalURL = getCanonicalUrl(Astro.url, Astro.site);

const { title, description, keywords, image, noindex = false } = Astro.props;
---

<!-- Global Metadata -->
<meta charset="utf-8" />
<!-- Site Created By:    
       _____  _       _     _     _____           _     _           
      |  __ \(_)     | |   | |   |  __ \         | |   | |          
      | |__) |_  __ _| |__ | |_  | |__) |   _  __| | __| | ___ _ __ 
      |  _  /| |/ _` | '_ \| __| |  _  / | | |/ _` |/ _` |/ _ \ '__|
      | | \ \| | (_| | | | | |_  | | \ \ |_| | (_| | (_| |  __/ |   
      |_|  \_\_|\__, |_| |_|\__| |_|  \_\__,_|\__,_|\__,_|\___|_|   
      |  \/  |   __/ |  | |      | | (_)                            
      | \  / | _|___/ __| | _____| |_ _ _ __   __ _                 
      | |\/| |/ _` | '__| |/ / _ \ __| | '_ \ / _` |                
      | |  | | (_| | |  |   <  __/ |_| | | | | (_| |                
      |_|  |_|\__,_|_|  |_|\_\___|\__|_|_| |_|\__, |                
                                               __/ |                
                                              |___/                 

    Nice to see you here.  Find new student pilots with Right Rudder Marketing.  https://rightruddermarketing.com/contact-us -->

<meta name="viewport" content="width=device-width,initial-scale=1" />
<link rel="icon" type="image/svg+xml" href="/favicon/favicon.ico" />
<link
  rel="apple-touch-icon"
  sizes="57x57"
  href="/favicon/apple-touch-icon-57x57.png"
/>
<link
  rel="apple-touch-icon"
  sizes="72x72"
  href="/favicon/apple-touch-icon-72x72.png"
/>
<link
  rel="apple-touch-icon"
  sizes="76x76"
  href="/favicon/apple-touch-icon-76x76.png"
/>
<link
  rel="apple-touch-icon"
  sizes="114x114"
  href="/favicon/apple-touch-icon-114x114.png"
/>
<link
  rel="apple-touch-icon"
  sizes="120x120"
  href="/favicon/apple-touch-icon-120x120.png"
/>
<link
  rel="apple-touch-icon"
  sizes="144x144"
  href="/favicon/apple-touch-icon-144x144.png"
/>
<link
  rel="apple-touch-icon"
  sizes="152x152"
  href="/favicon/apple-touch-icon-152x152.png"
/>
<link
  rel="apple-touch-icon"
  sizes="180x180"
  href="/favicon/apple-touch-icon-180x180.png"
/>
<meta name="generator" content={Astro.generator} />
<meta name="robots" content="index, follow" />
<meta name="language" content="English" />
<meta name="revisit-after" content="7 days" />

<!-- Canonical URL -->
<link rel="canonical" href={canonicalURL} />

<!-- Primary Meta Tags -->
<title>{title}</title>
<meta name="title" content={title} />
<meta name="description" content={description} />
<meta name="keywords" content={keywords} />
<meta name="author" content="PennJet LLC" />
<meta name="robots" content="index, follow" />
<meta name="language" content="English" />
<meta name="revisit-after" content="7 days" />

<!-- Social Media Tags -->
<SocialTags
  url={Astro.url.href}
  title={title}
  description={description}
  image={image}
  type="website"
  twitterCard="summary_large_image"
  twitterSite="@PennJetLLC"
  twitterCreator="@PennJetLLC"
/>

<link rel="sitemap" href="/sitemap-index.xml" />

<!-- Google tag (gtag.js) - Enhanced with performance optimization -->
<script
  type="text/partytown"
  async
  src="https://www.googletagmanager.com/gtag/js?id=G-7ZWB6T5347"></script>
<script type="text/partytown">
  window.dataLayer = window.dataLayer || [];
  function gtag() {
    dataLayer.push(arguments);
  }
  gtag("js", new Date());
  gtag("config", "G-7ZWB6T5347", {
    page_path: window.location.pathname,
    anonymize_ip: true,
    cookie_flags: "SameSite=None;Secure",
    send_page_view: true,
    content_group: "PennJet Aircraft Management",
    link_attribution: {
      cookie_name: "_pjlat",
      cookie_expires: 63072000,
      cookie_domain: "pennjet.net",
    },
    site_speed_sample_rate: 50,
  });
</script>

<!-- Schema Markup for Business -->
<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "LocalBusiness",
    "name": "PennJet Aircraft Management Services",
    "description": "PennJet offers comprehensive aircraft ownership and management services, helping you assess whether it aligns with your goals. Our safety, service, and support ensure you fully benefit from your investment. Experience personalized aircraft management with PennJet.",
    "keywords": "Aircraft management Pottstown PA, Private jet management Pottstown, Aircraft ownership services Pottstown, Private aviation Pottstown PA, Jet management services Heritage Field, Pottstown aircraft management, Aviation services near Pottstown PA, Heritage Field aircraft management, Jet ownership management Pottstown, Pottstown private jet services, Aircraft management PA, Private jet ownership Pottstown, Air charter Pottstown PA, Aircraft maintenance Pottstown, Private jet management near Philadelphia, Pottstown aviation management services, PA private jet services, Pennsylvania aircraft management, Aircraft management company Pennsylvania, Private jet services Philadelphia area, Heritage Field aviation, Aircraft ownership in southeastern PA, Jet fleet management Pennsylvania, Luxury jet services Pottstown, Fly private in Pottstown PA, Pottstown PA jet charter, Best aircraft management services in Pottstown PA, How to manage private jet in Pottstown PA, Full-service private aviation near Philadelphia, Reliable jet management services in southeastern PA, Comprehensive aircraft ownership management Pottstown PA",
    "image": "https://pennjet.net/penn-jet-og-image.png",
    "logo": "https://pennjet.net/pennjetllc.webp",
    "telephone": "+1-610-495-7000",
    "email": "info@pennjet.com",
    "address": {
      "@type": "PostalAddress",
      "streetAddress": "3310 W Ridge Pike",
      "addressLocality": "Pottstown",
      "addressRegion": "PA",
      "addressCountry": "US",
      "postalCode": "19464"
    },
    "currenciesAccepted": "USD",
    "paymentAccepted": "Cash, Credit Card, Visa, Mastercard, American Express, Discover, Checks",
    "areaServed": {
      "@type": "GeoCircle",
      "geoMidpoint": {
        "@type": "GeoCoordinates",
        "latitude": 40.24217243030569,
        "longitude": -75.55532596753021
      },
      "geoRadius": 9000
    },
    "url": "https://pennjet.net/",
    "priceRange": "$$$",
    "geo": {
      "@type": "GeoCoordinates",
      "latitude": 40.24217243030569,
      "longitude": -75.55532596753021
    },
    "openingHoursSpecification": [
      {
        "@type": "OpeningHoursSpecification",
        "dayOfWeek": [
          "Monday",
          "Tuesday",
          "Wednesday",
          "Thursday",
          "Friday",
          "Saturday",
          "Sunday"
        ],
        "opens": "07:00",
        "closes": "20:00"
      }
    ],
    "makesOffer": {
      "@type": "Offer",
      "itemOffered": {
        "@type": "Service",
        "serviceType": "Aircraft Management"
      },
      "priceCurrency": "USD",
      "price": "Varies"
    },
    "identifier": [
      {
        "@type": "PropertyValue",
        "name": "IATA Code",
        "value": "PTW"
      },
      {
        "@type": "PropertyValue",
        "name": "ICAO Code",
        "value": "KPTW"
      },
      {
        "@type": "PropertyValue",
        "name": "Airport Code",
        "value": "PTW"
      }
    ],
    "hasMap": "https://maps.app.goo.gl/zCNMFJHjsZ8RvQBFA"
  }
</script>
